*\build
*\release
*\Release
*\debug
*\Debug
*.suo
*.dep
*.aps
*.vbw
*.obj
*.ncb
*.plg
*.bsc
*.ilk 
*.exp
*.sbr
*.opt
*.pdb
*.idb
*.pch
*.res
*.user
*\bin
*\Bin
*\obj
*.exe
*.csproj.user
*.resharper.user
*.cache
*.jtconfig
TestResult.xml
TestResults/*
Thumbs.db
*\packages
!Src/KesselRun.SeleniumCore/packages.config
!NuGet.exe
clean.bat